body {
  margin: 0;
  padding: 0;
  overflow: scroll;
  background: #999;
  height: auto;
}

#container {
  position: relative;
  width: min-content;
  height: auto;
  border: 2px solid red;

  max-width: 100%;
  background: url(./asset/img/chess.png);
}

#container > div {
  transform-origin: top left;
}

#buttonContainer {
  position: relative;
  top: 10px;
  left: 10px;
  z-index: 10; /* Ensure buttons stay above the canvas */
  display: flex;
  flex-flow: wrap;
}

.button {
  display: block;
  margin-bottom: 10px; /* Space between buttons */
  padding: 10px 20px;
  background-color: #333;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  width: 50px;
  height: 50px;
}
.button-like {
  display: block;
  padding: 0px 20px;
  background-color: #333;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  height: 50px;
  width: min-content;
}

.button:disabled, .button-like:disabled {
  background-color: gray;
  cursor: not-allowed;
}

.button.inactivei, .button-like.inactive {
  background-color: #ddd;
}

.color-picker {
  margin-bottom: 10px;
}

.color-opacity-combo {
  display: flex;
  flex-direction: row;
  align-content: start;
  height: 50px;
}
.color-opacity-combo > input {
  flex: 1 0 auto;
  height: 100%;
}
.color-opacity-combo > input + input {
  padding: 0;
  margin: 0;
  border: 0;
  font-size: 2rem;
  width: 5rem;
}

#zoomButton {
min-width: 500px; 
}

.doSelect {
  background: #333 url(./asset/icon/pointer.svg) no-repeat center;
}
.doDrawPath {
  background: #333 url(./asset/icon/draw-path.svg) no-repeat center;
}
.doAddNodePath {
  background: #333 url(./asset/icon/add-node-path.svg) no-repeat center;
}
.doChangeNodePath {
  background: #333 url(./asset/icon/change-node-path.svg) no-repeat center;
}
.doDeleteNodePath {
  background: #333 url(./asset/icon/delete-node-path.svg) no-repeat center;
}
.doFill {
  background: #333 url(./asset/icon/fill.svg) no-repeat center;
}
.doMagikWand {
  background: #333 url(./asset/icon/magik-wand.svg) no-repeat center;
}
.doDrawPencil {
  background: #333 url(./asset/icon/draw-pencil.svg) no-repeat center;
}
.doDrag {
  background: #333 url(./asset/icon/drag.svg) no-repeat center;
}
.doUpz {
  background: #333 url(./asset/icon/upz.svg) no-repeat center;
}
.doDownz {
  background: #333 url(./asset/icon/downz.svg) no-repeat center;
}
.doDelete {
  background: #333 url(./asset/icon/delete.svg) no-repeat center;
}
.doDeleteAll {
  background: #333 url(./asset/icon/delete-all.svg) no-repeat center;
}
.doDropShape {
  background: #333 url(./asset/icon/drop-shape.svg) no-repeat center;
}
.doDropShapeAll {
  background: #333 url(./asset/icon/drop-shape-all.svg) no-repeat center;
}
.doUploadImage {
  background: #333 url(./asset/icon/upload-image.svg) no-repeat center;
}

.file-input {
  display: none;
}
